IlyaSensorsDashboards.json
[{"id":"af04fb3d.da14a8","type":"tab","label":"ILYASensorsDashboards","disabled":false,"info":""},{"id":"32664efd.fb63a2","type":"mqtt in","z":"af04fb3d.da14a8","name":"mickaelcommerot1@gmail.com/ilya","topic":"mickaelcommerot1@gmail.com/ilya","qos":"2","datatype":"auto","broker":"5991072f.f89128","x":160,"y":400,"wires":[["7f5a4c40.56ef24","e4b503b4.4f0ae"]]},{"id":"7f5a4c40.56ef24","type":"debug","z":"af04fb3d.da14a8","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":160,"y":480,"wires":[]},{"id":"9669efbe.bf584","type":"debug","z":"af04fb3d.da14a8","name":"Debug Account Log ","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":330,"y":80,"wires":[]},{"id":"3cfa434e.8d6f5c","type":"comment","z":"af04fb3d.da14a8","name":"Sign-In Section","info":"","x":120,"y":40,"wires":[]},{"id":"bd58943.810c568","type":"function","z":"af04fb3d.da14a8","name":"Account Log","func":"var accountlog =  flow.get(\"accountlog\") || [] ; \n\naccountlog.push({ accessAt : new Date(), username : msg.payload.username})\n\nflow.set(\"accountlog\", accountlog);\n\nmsg.payload = accountlog;\nreturn msg;","outputs":1,"noerr":0,"x":120.99991607666016,"y":108.9999885559082,"wires":[["9669efbe.bf584"]]},{"id":"34120207.47952e","type":"function","z":"af04fb3d.da14a8","name":"Account Verification","func":"var accounts =  flow.get(\"accounts\") || [ { username : \"admin\", password : \"admin\"},{ username : \"guest\", password : \"guest\"}] ; \n\nvar username = msg.payload.username ;\nvar password = msg.payload.password ; \n\nmsg.payload = 1;\n\naccounts.forEach(function ( account ){\n    if ( account.username == username ) {\n       msg.payload = 2;\n       if ( account.password == password ) {\n           msg.payload = 0;\n       } \n    }\n});\n\nif ( msg.payload == 0 ) {\n  var currentsocketid = flow.get(\"clientid\") || undefined;\n  if ( currentsocketid !== undefined && currentsocketid !== msg.socketid ) msg.payload = 3;\n}\n// keep the original socketid from msg.socketid;\nreturn msg;","outputs":1,"noerr":0,"x":133.9999542236328,"y":153.99999809265137,"wires":[["b8765d0f.ab1ce"]]},{"id":"b8765d0f.ab1ce","type":"switch","z":"af04fb3d.da14a8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":302.99995040893555,"y":184.99998092651367,"wires":[["6b8ecdd0.6a1ae4"],["e6f1346a.2ca958"],["e5c288d1.94ad58"],["3cec677.54a0b98"]]},{"id":"6b8ecdd0.6a1ae4","type":"function","z":"af04fb3d.da14a8","name":"= 0 : Success","func":"/* activate session timer */\nvar sessionTimer =  flow.get(\"sessionTimer\") || 0; \nvar currTime = Date.now();\nflow.set(\"sessionTimer\", currTime);\nflow.set(\"clientid\", msg.socketid);\n/* ui-control payload */\nmsg.payload = { group: {\n    show : [\"Dashboard_SensorData\", \"Another_History\"],\n    hide : [\"Dashboard_Signin\"]\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":472.99979400634766,"y":140.99999046325684,"wires":[["244e104f.d70c9"]]},{"id":"e6f1346a.2ca958","type":"function","z":"af04fb3d.da14a8","name":"= 1 : Unknown User","func":"msg.payload = \"Username Doesn't exist!!!\"\nreturn msg;","outputs":1,"noerr":0,"x":493.9998016357422,"y":177.99999237060547,"wires":[["a336b4c5.d16268"]]},{"id":"e5c288d1.94ad58","type":"function","z":"af04fb3d.da14a8","name":"= 2 : Wrong Password","func":"msg.payload = \"Invalid Password\";\nreturn msg;","outputs":1,"noerr":0,"x":494.99987030029297,"y":215.00000476837158,"wires":[["a336b4c5.d16268"]]},{"id":"244e104f.d70c9","type":"ui_ui_control","z":"af04fb3d.da14a8","name":"Go to Sensor Group","x":739.9999771118164,"y":140.99998664855957,"wires":[[]]},{"id":"a336b4c5.d16268","type":"ui_toast","z":"af04fb3d.da14a8","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Authentication Failed","name":"Authentication Failure Dialog","x":759.9998817443848,"y":197.99999237060547,"wires":[[]]},{"id":"48ed6af5.2cd8e4","type":"ui_toast","z":"af04fb3d.da14a8","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"System In Use.","name":"System In-Use Dialog","x":743.1110877990723,"y":251.12152767181396,"wires":[[]]},{"id":"3cec677.54a0b98","type":"function","z":"af04fb3d.da14a8","name":"= 4 : System In Use","func":"msg.payload = \"System is used by other user.\";\nreturn msg;","outputs":1,"noerr":0,"x":484.4442367553711,"y":252.12152099609375,"wires":[["48ed6af5.2cd8e4"]]},{"id":"c74164b3.3e51e8","type":"ui_gauge","z":"af04fb3d.da14a8","name":"Temperature_Gauge","group":"e34e7c41.c875e","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperature ","label":"units","format":"","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1040,"y":480,"wires":[]},{"id":"e8ca3cc1.d4d31","type":"comment","z":"af04fb3d.da14a8","name":"GetTempDataFromBroaker","info":"","x":130,"y":320,"wires":[]},{"id":"95b3e4f9.700f38","type":"comment","z":"af04fb3d.da14a8","name":"Sign-Out Section","info":"","x":100,"y":640,"wires":[]},{"id":"dbeeadaa.a5991","type":"ui_button","z":"af04fb3d.da14a8","d":true,"name":"Sign-out Button","group":"e34e7c41.c875e","order":3,"width":"1","height":"1","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"red","icon":"https://image.shutterstock.com/image-vector/vector-logout-icon-exit-sign-600w-1524115724.jpg","payload":"","payloadType":"str","topic":"","x":220,"y":720,"wires":[["cae8acbc.14bb2"]]},{"id":"6380b374.278ccc","type":"ui_toast","z":"af04fb3d.da14a8","d":true,"position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Signout ","name":"SignOut Dialog","x":660,"y":720,"wires":[[]]},{"id":"cae8acbc.14bb2","type":"ui_ui_control","z":"af04fb3d.da14a8","d":true,"name":"Return to Signin Group","x":460,"y":720,"wires":[["6380b374.278ccc"]]},{"id":"e4b503b4.4f0ae","type":"json","z":"af04fb3d.da14a8","name":"JsonParseObject","property":"payload","action":"obj","pretty":false,"x":460,"y":480,"wires":[["6df6011e.bbe8d","38fb743d.8c910c","7f09343a.bfb85c","c8266c78.ade11"]]},{"id":"6df6011e.bbe8d","type":"ui_text","z":"af04fb3d.da14a8","group":"e34e7c41.c875e","order":3,"width":0,"height":0,"name":"","label":"JSON Format","format":"{{msg.payload}}","layout":"col-center","x":520,"y":640,"wires":[]},{"id":"61e51f43.95d3d","type":"debug","z":"af04fb3d.da14a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":1020,"y":600,"wires":[]},{"id":"38fb743d.8c910c","type":"debug","z":"af04fb3d.da14a8","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload.temp","targetType":"msg","x":660,"y":380,"wires":[]},{"id":"1482d6af.dcb5e9","type":"ui_gauge","z":"af04fb3d.da14a8","name":"Debit_Gauge","group":"e34e7c41.c875e","order":2,"width":0,"height":0,"gtype":"gage","title":"Debit","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1010,"y":540,"wires":[]},{"id":"7f09343a.bfb85c","type":"change","z":"af04fb3d.da14a8","name":"","rules":[{"t":"move","p":"payload.temp","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":480,"wires":[["c74164b3.3e51e8"]]},{"id":"c8266c78.ade11","type":"change","z":"af04fb3d.da14a8","name":"","rules":[{"t":"move","p":"payload.debit","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":540,"wires":[["1482d6af.dcb5e9","61e51f43.95d3d"]]},{"id":"5991072f.f89128","type":"mqtt-broker","z":"","name":"","broker":"maqiatto.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"mickaelcommerot1@gmail.com/ilya","birthQos":"2","birthPayload":"Node-red dashboard subscribed","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e34e7c41.c875e","type":"ui_group","z":"","name":"SensorData","tab":"23b90f20.a5a01","order":2,"disp":true,"width":"6","collapse":false},{"id":"23b90f20.a5a01","type":"ui_tab","z":"","name":"ILYA_Dashboards","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
