mongoDBremoteToDashboards.json
[{"id":"a409360c.cf0cb8","type":"tab","label":"IlyaDashboardsFromRemoteMongdb","disabled":false,"info":""},{"id":"47275885.b57868","type":"mongodb in","z":"a409360c.cf0cb8","mongodb":"da4041f5.be0f7","name":"find in MongoDB","collection":"ilyaSensors","operation":"find","x":430,"y":520,"wires":[["49004f82.9cf82","c4694c1d.fd327"]]},{"id":"49004f82.9cf82","type":"debug","z":"a409360c.cf0cb8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":520,"wires":[]},{"id":"8389ab1b.d9ec88","type":"inject","z":"a409360c.cf0cb8","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":"1","x":130,"y":520,"wires":[["47275885.b57868"]]},{"id":"c4694c1d.fd327","type":"json","z":"a409360c.cf0cb8","name":"JsonParseObject","property":"payload","action":"obj","pretty":false,"x":90,"y":700,"wires":[["4c5d5b3c.558dd4","b61cf0f6.91f93"]]},{"id":"55ae1373.3bcc4c","type":"comment","z":"a409360c.cf0cb8","name":"Print value from MongoDB on dashbaords","info":"","x":160,"y":620,"wires":[]},{"id":"1192f7a0.b7e028","type":"comment","z":"a409360c.cf0cb8","name":"Retreive from database","info":"","x":140,"y":440,"wires":[]},{"id":"6b64170f.ee0b58","type":"debug","z":"a409360c.cf0cb8","name":"Debug Account Log ","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":310,"y":60,"wires":[]},{"id":"4af5f1ba.4c239","type":"comment","z":"a409360c.cf0cb8","name":"Sign-In Section","info":"","x":100,"y":20,"wires":[]},{"id":"2114a801.e9a828","type":"function","z":"a409360c.cf0cb8","name":"Account Log","func":"var accountlog =  flow.get(\"accountlog\") || [] ; \n\naccountlog.push({ accessAt : new Date(), username : msg.payload.username})\n\nflow.set(\"accountlog\", accountlog);\n\nmsg.payload = accountlog;\nreturn msg;","outputs":1,"noerr":0,"x":100.99991607666016,"y":88.9999885559082,"wires":[["6b64170f.ee0b58"]]},{"id":"90203bf7.f28f28","type":"function","z":"a409360c.cf0cb8","name":"Account Verification","func":"var accounts =  flow.get(\"accounts\") || [ { username : \"admin\", password : \"admin\"},{ username : \"guest\", password : \"guest\"}] ; \n\nvar username = msg.payload.username ;\nvar password = msg.payload.password ; \n\nmsg.payload = 1;\n\naccounts.forEach(function ( account ){\n    if ( account.username == username ) {\n       msg.payload = 2;\n       if ( account.password == password ) {\n           msg.payload = 0;\n       } \n    }\n});\n\nif ( msg.payload == 0 ) {\n  var currentsocketid = flow.get(\"clientid\") || undefined;\n  if ( currentsocketid !== undefined && currentsocketid !== msg.socketid ) msg.payload = 3;\n}\n// keep the original socketid from msg.socketid;\nreturn msg;","outputs":1,"noerr":0,"x":113.99995422363281,"y":133.99999809265137,"wires":[["5bbe57d5.b97ad8"]]},{"id":"5bbe57d5.b97ad8","type":"switch","z":"a409360c.cf0cb8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":282.99995040893555,"y":164.99998092651367,"wires":[["b1e0b6f5.4b9d58"],["60ba9d9.a470464"],["d57ba2af.7d6b3"],["50371283.6c164c"]]},{"id":"b1e0b6f5.4b9d58","type":"function","z":"a409360c.cf0cb8","name":"= 0 : Success","func":"/* activate session timer */\nvar sessionTimer =  flow.get(\"sessionTimer\") || 0; \nvar currTime = Date.now();\nflow.set(\"sessionTimer\", currTime);\nflow.set(\"clientid\", msg.socketid);\n/* ui-control payload */\nmsg.payload = { group: {\n    show : [\"Dashboard_SensorData\", \"Another_History\"],\n    hide : [\"Dashboard_Signin\"]\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":452.99979400634766,"y":120.99999046325684,"wires":[["fddd9af5.c4dbe8"]]},{"id":"60ba9d9.a470464","type":"function","z":"a409360c.cf0cb8","name":"= 1 : Unknown User","func":"msg.payload = \"Username Doesn't exist!!!\"\nreturn msg;","outputs":1,"noerr":0,"x":473.9998016357422,"y":157.99999237060547,"wires":[["960a7d7d.c2981"]]},{"id":"d57ba2af.7d6b3","type":"function","z":"a409360c.cf0cb8","name":"= 2 : Wrong Password","func":"msg.payload = \"Invalid Password\";\nreturn msg;","outputs":1,"noerr":0,"x":474.99987030029297,"y":195.00000476837158,"wires":[["960a7d7d.c2981"]]},{"id":"fddd9af5.c4dbe8","type":"ui_ui_control","z":"a409360c.cf0cb8","name":"Go to Sensor Group","x":719.9999771118164,"y":120.99998664855957,"wires":[[]]},{"id":"960a7d7d.c2981","type":"ui_toast","z":"a409360c.cf0cb8","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Authentication Failed","name":"Authentication Failure Dialog","x":739.9998817443848,"y":177.99999237060547,"wires":[[]]},{"id":"876341d9.e1c3f","type":"ui_toast","z":"a409360c.cf0cb8","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"System In Use.","name":"System In-Use Dialog","x":723.1110877990723,"y":231.12152767181396,"wires":[[]]},{"id":"50371283.6c164c","type":"function","z":"a409360c.cf0cb8","name":"= 4 : System In Use","func":"msg.payload = \"System is used by other user.\";\nreturn msg;","outputs":1,"noerr":0,"x":464.4442367553711,"y":232.12152099609375,"wires":[["876341d9.e1c3f"]]},{"id":"46cf2878.05a958","type":"json","z":"a409360c.cf0cb8","name":"JsonParseObject","property":"payload","action":"obj","pretty":false,"x":530,"y":720,"wires":[["fb661ec7.dfa75","5fd447c5.9a8ae8","31f10fa0.5444e"]]},{"id":"fb661ec7.dfa75","type":"change","z":"a409360c.cf0cb8","name":"","rules":[{"t":"move","p":"payload.Temp","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1200,"wires":[["8dade70d.668bb8","ad60ff09.27f3a"]]},{"id":"5fd447c5.9a8ae8","type":"change","z":"a409360c.cf0cb8","name":"","rules":[{"t":"move","p":"payload.Debit","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":1020,"wires":[["5403b9e2.0f6198","a4a7a6fa.6e8218"]]},{"id":"5403b9e2.0f6198","type":"debug","z":"a409360c.cf0cb8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":960,"y":1040,"wires":[]},{"id":"8dade70d.668bb8","type":"debug","z":"a409360c.cf0cb8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":960,"y":1220,"wires":[]},{"id":"a4a7a6fa.6e8218","type":"ui_chart","z":"a409360c.cf0cb8","name":"","group":"e34e7c41.c875e","order":9,"width":0,"height":0,"label":"Debit/Flow Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":970,"y":1000,"wires":[[]]},{"id":"ad60ff09.27f3a","type":"ui_chart","z":"a409360c.cf0cb8","name":"","group":"e34e7c41.c875e","order":9,"width":0,"height":0,"label":"Temperature Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":970,"y":1180,"wires":[[]]},{"id":"3154353.e6004ca","type":"debug","z":"a409360c.cf0cb8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":490,"y":640,"wires":[]},{"id":"4c5d5b3c.558dd4","type":"debug","z":"a409360c.cf0cb8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":290,"y":800,"wires":[]},{"id":"31f10fa0.5444e","type":"debug","z":"a409360c.cf0cb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":720,"wires":[]},{"id":"b61cf0f6.91f93","type":"function","z":"a409360c.cf0cb8","name":"getAllObjects","func":"//msg.payload.limit = 5;\n//msg.payload.skip = 0;\n//msg.payload.sort = {_id:-1};\nreturn [msg.payload];\n\n","outputs":1,"noerr":0,"x":290,"y":700,"wires":[["3154353.e6004ca","46cf2878.05a958"]]},{"id":"da4041f5.be0f7","type":"mongodb","z":"","hostname":"192.168.43.61","port":"27017","db":"ilya","name":""},{"id":"e34e7c41.c875e","type":"ui_group","z":"","name":"SensorData","tab":"23b90f20.a5a01","order":2,"disp":true,"width":"6","collapse":false},{"id":"23b90f20.a5a01","type":"ui_tab","z":"","name":"ILYA_Dashboards","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
