ApplicationLayer/UI/ilyaclt.json
[{"id":"7fb7b518.e6b28c","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"6a84f32d.ba083c","type":"ui_form","z":"7fb7b518.e6b28c","name":"Dashboard Sign-In","label":"","group":"4d190e77.33cbc8","order":2,"width":17,"height":4,"options":[{"label":"hotel","value":"hotel","type":"text","required":true,"rows":null},{"label":"username","value":"username","type":"text","required":true,"rows":null},{"label":"password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"hotel":"","username":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":100,"y":120,"wires":[["61e9f332.07f8b4","85f214f.1e13c68"]]},{"id":"2e10f69b.3af272","type":"function","z":"7fb7b518.e6b28c","name":"Account Verification","func":"flow.set(\"clientid\", msg.socketid);\n\nif ( msg.payload === \"true\" ) {\n        msg.payload = 0;\n    }\nelse {\n           msg.payload =1;\n       } \n    \nif ( msg.payload === 0) {\n  var currentsocketid = flow.get(\"clientid\") || undefined;\n  if ( currentsocketid !== undefined && currentsocketid !== msg.socketid ) msg.payload = 3;\n}\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":220,"wires":[["19f98ba9.5111dc"]]},{"id":"19f98ba9.5111dc","type":"switch","z":"7fb7b518.e6b28c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":710,"y":40,"wires":[["3276f4ef.a19bec"],["e7818938.9cceb8"],[],[]]},{"id":"3276f4ef.a19bec","type":"function","z":"7fb7b518.e6b28c","name":"= 0 : Success","func":"/* activate session timer */\nvar sessionTimer =  flow.get(\"sessionTimer\") || 0; \nvar currTime = Date.now();\nflow.set(\"sessionTimer\", currTime);\nflow.set(\"clientid\", msg.socketid);\nmsg.payload = { group: {\n    show : [\"Dashboard_SensorData\"],\n    hide : [\"Dashboard_Signin\",'Dashboard_CreateUser']\n    }};\nreturn msg;","outputs":1,"noerr":0,"x":700.999885559082,"y":161.99999809265137,"wires":[["a1402b3a.485c98"]]},{"id":"e7818938.9cceb8","type":"function","z":"7fb7b518.e6b28c","name":"= 1 : Unknown User","func":"msg.payload = \"Username or password or hotel Doesn't exist!!!\"\nreturn msg;","outputs":1,"noerr":0,"x":721.9998931884766,"y":199,"wires":[["4147cde9.05ca04"]]},{"id":"a1402b3a.485c98","type":"ui_ui_control","z":"7fb7b518.e6b28c","name":"Go to Sensor/History Group","x":988.0000686645508,"y":161.9999942779541,"wires":[["8dba60b3.22da48"]]},{"id":"4147cde9.05ca04","type":"ui_toast","z":"7fb7b518.e6b28c","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Authentication Failed","name":"Authentication Failure Dialog","x":987.9999732971191,"y":219,"wires":[[]]},{"id":"3a7601cd.705b6e","type":"debug","z":"7fb7b518.e6b28c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":370,"y":280,"wires":[]},{"id":"68898f4d.29461","type":"ui_ui_control","z":"7fb7b518.e6b28c","name":"Go to Signin Group","x":984.5002479553223,"y":424.0000419616699,"wires":[[]]},{"id":"2aca3886.09f3e8","type":"ui_ui_control","z":"7fb7b518.e6b28c","name":"Stay in Sensor Group","x":996.5000991821289,"y":386.0000057220459,"wires":[[]]},{"id":"5a417d03.5a502c","type":"ui_ui_control","z":"7fb7b518.e6b28c","name":"Go to Signin Group","x":1046.5000324249268,"y":346.99999618530273,"wires":[[]]},{"id":"e193b89a.1173c8","type":"ui_toast","z":"7fb7b518.e6b28c","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Session Timeout","name":"Time-Out Dialog","x":839.500114440918,"y":311.0000114440918,"wires":[[]]},{"id":"7a5a3d3.be16e44","type":"function","z":"7fb7b518.e6b28c","name":"Sign-In Redirection","func":"var msg = {};\n\nmsg.socketid = flow.get(\"clientid\") || undefined;\nmsg.payload = { group: {\n    hide : [\"Dashboard_SensorData\"],\n    show : [\"Dashboard_Signin\",\"Dashboard_CreateUser\"]\n}\n};\n\nflow.set(\"clientid\", undefined);\nreturn msg;","outputs":1,"noerr":0,"x":850.0000228881836,"y":348.00000762939453,"wires":[["5a417d03.5a502c"]]},{"id":"691e1566.df7ec4","type":"function","z":"7fb7b518.e6b28c","name":"Time-Out","func":"/* activate session timer */\nvar sessionTimer =  flow.get(\"sessionTimer\") || 0; \nflow.set(\"sessionTimer\", 0);\n\nmsg.socketid = flow.get(\"clientid\") || undefined;\nmsg.payload = \"Session Expired! Please singin again!\";\nreturn msg;","outputs":1,"noerr":0,"x":651.9999847412109,"y":345.0000114440918,"wires":[["e193b89a.1173c8","7a5a3d3.be16e44"]]},{"id":"48974a73.05af8c","type":"function","z":"7fb7b518.e6b28c","name":"Sensor/History Goup","func":"var msg = {};\nmsg.socketid = flow.get(\"clientid\") || undefined;\nmsg.payload = { group: {\n    show : [\"Dashboard_SensorData\"],\n    hide : [\"Dashboard_Signin\",\"Dashboard_CreateUser\"]\n}\n};\nreturn msg;","outputs":1,"noerr":0,"x":693.5000305175781,"y":386.00000381469727,"wires":[["2aca3886.09f3e8"]]},{"id":"108380f0.342b87","type":"function","z":"7fb7b518.e6b28c","name":"Signin Goup","func":"var msg = {};\nmsg.payload = { group: {\n    hide : [\"Operations_IDGENERATION\",\"Dashboard_SensorData\", \"Dashboard_SensorData1\",\"Dashboard_SensorData\",\"Dashboard_SensorData1\",\"Operations_GETHOTEL\",\"Operations_UPDATEHOTEL\",\"Operations_ADDHOTEL\"],\n    show : [\"Dashboard_Signin\",\"Dashboard_CreateUser\"]\n}\n};\nreturn msg;","outputs":1,"noerr":0,"x":664.5000915527344,"y":427.0000419616699,"wires":[["68898f4d.29461"]]},{"id":"eed971ae.b08f8","type":"ui_toast","z":"7fb7b518.e6b28c","position":"bottom right","displayTime":"1","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Timer","name":"Display Remaining Time","x":650,"y":480,"wires":[]},{"id":"48878fce.93b8d8","type":"switch","z":"7fb7b518.e6b28c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":496.00007247924805,"y":372.00000762939453,"wires":[["691e1566.df7ec4"],["48974a73.05af8c"],["108380f0.342b87"]]},{"id":"321d16f2.6d6602","type":"function","z":"7fb7b518.e6b28c","name":"Calculating Remaining Time (Debug)","func":"var sessionTimer =  flow.get(\"sessionTimer\") || 0; \nvar currTime = Date.now();\nvar remainingSecs = Math.floor((1500000 - (currTime - sessionTimer))/1000) + 1;\n    \nif ( sessionTimer === 0 /* Inactive, No user signed in */ ) {\n    return null;\n} else {\n    \n    if ( remainingSecs <= 7 ) msg.payload = \"Remaining : \" + remainingSecs + \" secs\";  \n    else return null;\n}\n\nmsg.socketid = flow.get(\"clientid\") || \"B1234\";\nreturn msg;","outputs":1,"noerr":0,"x":376.0000305175781,"y":462.00002002716064,"wires":[["eed971ae.b08f8"]]},{"id":"11204cf.14708b3","type":"function","z":"7fb7b518.e6b28c","name":"Detect Session Timer","func":"var sessionTimer =  flow.get(\"sessionTimer\") || 0; \nvar currTime = Date.now();\nvar SESSION_TIMEOUT = 30000; //15 secs\n\nif ( sessionTimer === 0 /* Inactive, No user signed in */ ) {\n    msg.payload = 2;\n} else {\n    if ( currTime - sessionTimer > SESSION_TIMEOUT ) {\n      msg.payload = 0;  \n    } else {\n      msg.payload = 1;        \n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":326.00003814697266,"y":374.00000762939453,"wires":[["48878fce.93b8d8"]]},{"id":"c4e399a7.2983c","type":"inject","z":"7fb7b518.e6b28c","name":"Timer","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":138.00000762939453,"y":407.99999237060547,"wires":[["11204cf.14708b3","321d16f2.6d6602"]]},{"id":"8dba60b3.22da48","type":"function","z":"7fb7b518.e6b28c","name":"","func":"msg.payload=global.get(\"user\");\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":60,"wires":[["4e215198.80fec8"]]},{"id":"4e215198.80fec8","type":"ui_text","z":"7fb7b518.e6b28c","group":"52194ee0.54b99","order":2,"width":0,"height":0,"name":"","label":"USER","format":"{{msg.payload}}","layout":"row-spread","x":1250,"y":20,"wires":[]},{"id":"3ff00bcb.4efd34","type":"ui_form","z":"7fb7b518.e6b28c","name":"Register","label":"","group":"ce9a95da.7827b8","order":2,"width":0,"height":0,"options":[{"label":"Hotel","value":"hotel name","type":"text","required":true,"rows":null},{"label":"Username","value":"USERNAME","type":"text","required":true,"rows":null},{"label":"Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"hotel name":"","USERNAME":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":440,"y":580,"wires":[["48086fc4.f8c638"]]},{"id":"96c9af1b.2760b8","type":"http request","z":"7fb7b518.e6b28c","name":"","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":920,"wires":[["9d4860f3.59f7e"]]},{"id":"64a66171.adce88","type":"ui_button","z":"7fb7b518.e6b28c","name":"","group":"52194ee0.54b99","order":4,"width":0,"height":0,"passthru":true,"label":"GET","tooltip":"","color":"","bgcolor":"WHITE","icon":"","payload":"","payloadType":"date","topic":"","x":110,"y":920,"wires":[["ca48b954.b282c"]]},{"id":"496d43ef.d15d84","type":"ui_dropdown","z":"7fb7b518.e6b28c","name":"","label":"","tooltip":"","place":"Select option","group":"52194ee0.54b99","order":6,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":620,"y":1020,"wires":[["4e7332ad.b1f70c"]]},{"id":"9d4860f3.59f7e","type":"function","z":"7fb7b518.e6b28c","name":"","func":"msg.payload = JSON.parse(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":920,"wires":[["59350621.50a44"]]},{"id":"59350621.50a44","type":"change","z":"7fb7b518.e6b28c","name":"","rules":[{"t":"set","p":"options","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":920,"wires":[["496d43ef.d15d84"]]},{"id":"48086fc4.f8c638","type":"http request","z":"7fb7b518.e6b28c","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://127.0.0.1:5000/api/DBOPERATION/User","tls":"","persist":false,"proxy":"","authType":"","x":670,"y":560,"wires":[["f5bf0bda.6f3448"]]},{"id":"f5bf0bda.6f3448","type":"function","z":"7fb7b518.e6b28c","name":"","func":"msg.payload={\"hotel name\": \"\",\n\"hotel building\": \"\",\n\"room number\": \"\",\n\"id\": \"\"};\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":700,"wires":[["3ff00bcb.4efd34"]]},{"id":"7f657ec1.8a82c8","type":"function","z":"7fb7b518.e6b28c","name":"","func":"\nvar objectdata={};\nvar data = [[0],[msg.payload.length]];\nfor (var i = 0; i <msg.payload.length; i++) {\n   var tmp= 1000*(new Date(msg.payload[i].timestamp));\n   objectdata = {\"x\" : tmp  ,\"y\": msg.payload[i].temp};\n   data[0][i] = objectdata;\n}\n\nmsg.payload = [{\n    \"series\":[\"Temperature\"],\n    \"data\":data,\n    \"labels\":[]\n}];\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1150,"y":1080,"wires":[["f0a7d4e8.56cb7","5ee3ea28.0cdc54"]]},{"id":"9d2df3d7.406fc8","type":"function","z":"7fb7b518.e6b28c","name":"","func":"var objectdata={};\nvar data = [[0],[msg.payload.length]];\nfor (var i = 0; i <msg.payload.length; i++) {\n   var tmp= 1000*(new Date(msg.payload[i].timestamp));\n   objectdata = {\"x\" :tmp,\"y\": msg.payload[i].debit};\n   data[0][i] = objectdata;\n}\nmsg.payload = [{\n    \"series\":[\"Debit\"],\n    \"data\":data,\n    \"labels\":[]\n}];\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1150,"y":1000,"wires":[["2b732a44.7bdc4e","6503ce9e.ffe7a8"]]},{"id":"bfe35346.a30f","type":"http request","z":"7fb7b518.e6b28c","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://127.0.0.1:5000/api/DBOPERATION/Data","tls":"","persist":false,"proxy":"","authType":"","x":570,"y":1220,"wires":[["f815701e.36a408"]]},{"id":"4e7332ad.b1f70c","type":"function","z":"7fb7b518.e6b28c","name":"","func":"msg.payload=msg.payload.split(\" \");\nmsg.payload={\"hotel name\": msg.payload[0],\n\"hotel building\": msg.payload[1],\n\"room number\": msg.payload[2]};\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":1060,"wires":[["bfe35346.a30f"]]},{"id":"2b732a44.7bdc4e","type":"debug","z":"7fb7b518.e6b28c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1250,"y":880,"wires":[]},{"id":"f0a7d4e8.56cb7","type":"debug","z":"7fb7b518.e6b28c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1310,"y":1240,"wires":[]},{"id":"a50e4b2d.ab6218","type":"debug","z":"7fb7b518.e6b28c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.timestamp","targetType":"msg","x":1050,"y":1300,"wires":[]},{"id":"f815701e.36a408","type":"json","z":"7fb7b518.e6b28c","name":"","property":"payload","action":"","pretty":true,"x":750,"y":1280,"wires":[["a50e4b2d.ab6218","9d2df3d7.406fc8","7f657ec1.8a82c8"]]},{"id":"61e9f332.07f8b4","type":"http request","z":"7fb7b518.e6b28c","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://127.0.0.1:5000/api/DBOPERATION/verify","tls":"","persist":false,"proxy":"","authType":"","x":110,"y":240,"wires":[["3a7601cd.705b6e","5ec3982b.11f9d8"]]},{"id":"85f214f.1e13c68","type":"function","z":"7fb7b518.e6b28c","name":"","func":"global.set(\"user\", msg.payload.username);\nglobal.set(\"hotel\", msg.payload.hotel);\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":40,"wires":[[]]},{"id":"5ec3982b.11f9d8","type":"change","z":"7fb7b518.e6b28c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$substring(payload,0,4)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":120,"wires":[["2e10f69b.3af272"]]},{"id":"ca48b954.b282c","type":"function","z":"7fb7b518.e6b28c","name":"","func":"msg.method = \"GET\";\nmsg.url = \"http://127.0.0.1:5000/api/DBOPERATION/Hotel/\"+global.get(\"hotel\");\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":1000,"wires":[["96c9af1b.2760b8"]]},{"id":"6503ce9e.ffe7a8","type":"ui_chart","z":"7fb7b518.e6b28c","name":"","group":"52194ee0.54b99","order":9,"width":0,"height":0,"label":"Debit","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#ffffff"],"useOldStyle":false,"outputs":1,"x":1300,"y":1020,"wires":[[]]},{"id":"5ee3ea28.0cdc54","type":"ui_chart","z":"7fb7b518.e6b28c","name":"","group":"52194ee0.54b99","order":10,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#ffffff","#ff8000","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1350,"y":1120,"wires":[[]]},{"id":"4d190e77.33cbc8","type":"ui_group","z":"","name":"Signin","tab":"87357bd1.e72fb","order":2,"disp":true,"width":"17","collapse":false},{"id":"52194ee0.54b99","type":"ui_group","z":"","name":"SensorData","tab":"87357bd1.e72fb","order":1,"disp":false,"width":18,"collapse":false},{"id":"ce9a95da.7827b8","type":"ui_group","z":"","name":"CreateUser","tab":"87357bd1.e72fb","order":2,"disp":true,"width":"13","collapse":true},{"id":"87357bd1.e72fb","type":"ui_tab","z":"","name":"Dashboard","icon":"dashboard","order":1}]