ApplicationLayer/UI/ilya.json
[{"id":"26bed497.bf205c","type":"tab","label":"Flow 2","disabled":true,"info":""},{"id":"9bd815db.0d383","type":"ui_form","z":"26bed497.bf205c","name":"Dashboard Sign-In","label":"","group":"4d190e77.33cbc8","order":1,"width":17,"height":3,"options":[{"label":"username","value":"username","type":"text","required":true,"rows":null},{"label":"password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"username":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":160,"y":180,"wires":[["b6236830.3febf8","e081132a.256e1","7ca1892b.5394"]]},{"id":"3b18f33f.0d777c","type":"debug","z":"26bed497.bf205c","name":"Debug Account Log ","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":738.0000915527344,"y":121.00000762939453,"wires":[]},{"id":"8e48cfbd.24246","type":"comment","z":"26bed497.bf205c","name":"Sign-In Section","info":"","x":170.00000762939453,"y":102.99999618530273,"wires":[]},{"id":"b6236830.3febf8","type":"function","z":"26bed497.bf205c","name":"Account Log","func":"var accountlog =  flow.get(\"accountlog\") || [] ; \n\naccountlog.push({ accessAt : new Date(), username : msg.payload.username})\n\nflow.set(\"accountlog\", accountlog);\n\nmsg.payload = accountlog;\nreturn msg;","outputs":1,"noerr":0,"x":369.00000762939453,"y":129.99999618530273,"wires":[["3b18f33f.0d777c"]]},{"id":"e081132a.256e1","type":"function","z":"26bed497.bf205c","name":"Account Verification","func":"var accounts =  flow.get(\"accounts\") || [ { username : \"admin\", password : \"admin\"},{ username : \"guest\", password : \"guest\"}] ; \n\nvar username = msg.payload.username ;\nvar password = msg.payload.password ; \nglobal.set(\"user\", username);\nflow.set(\"clientid\", msg.socketid);\nmsg.payload = 1;\n\naccounts.forEach(function ( account ){\n    if ( account.username == username ) {\n       msg.payload = 2;\n       if ( account.password == password ) {\n           msg.payload = 0;\n       } \n    }\n});\n\nif ( msg.payload === 0 ) {\n  var currentsocketid = flow.get(\"clientid\") || undefined;\n  if ( currentsocketid !== undefined && currentsocketid !== msg.socketid ) msg.payload = 3;\n}\n// keep the original socketid from msg.socketid;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":180,"wires":[["52f33cf2.94ded4"]]},{"id":"52f33cf2.94ded4","type":"switch","z":"26bed497.bf205c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":551.0000419616699,"y":205.9999885559082,"wires":[["bcb59168.fb3d48"],["4c46258.03b57dc"],["907bfb52.79b49"],["c586f290.dd82f"]]},{"id":"bcb59168.fb3d48","type":"function","z":"26bed497.bf205c","name":"= 0 : Success","func":"/* activate session timer */\nvar sessionTimer =  flow.get(\"sessionTimer\") || 0; \nvar currTime = Date.now();\nflow.set(\"sessionTimer\", currTime);\nflow.set(\"clientid\", msg.socketid);\n/* ui-control payload */\nif(global.get(\"user\")!=\"admin\"){\n    msg.payload = { group: {\n    show : [\"Dashboard_SensorData\"],\n    hide : [\"Dashboard_Signin\",\"Dashboard_CreateUser\",\"Operations_ADDDevice\",\"Operations_Configuration\",\"Operations_UPDATEDEVICE\",\"Operations_IDGENERATION\"]\n    }\n};\n}else{\nmsg.payload = { group: {\n    show : [\"Operations_IDGENERATION\",\"Dashboard_SensorData\",\"Operations_ADDDevice\",\"Operations_Configuration\",\"Operations_UPDATEDEVICE\",\"Operations_IDGENERATION\"],\n    hide : [\"Dashboard_Signin\"]\n    }\n};\n}\nreturn msg;","outputs":1,"noerr":0,"x":720.999885559082,"y":161.99999809265137,"wires":[["41540c5a.b29824"]]},{"id":"4c46258.03b57dc","type":"function","z":"26bed497.bf205c","name":"= 1 : Unknown User","func":"msg.payload = \"Username Doesn't exist!!!\"\nreturn msg;","outputs":1,"noerr":0,"x":741.9998931884766,"y":199,"wires":[["87a3280c.2dc048"]]},{"id":"907bfb52.79b49","type":"function","z":"26bed497.bf205c","name":"= 2 : Wrong Password","func":"msg.payload = \"Invalid Password\";\nreturn msg;","outputs":1,"noerr":0,"x":742.9999618530273,"y":236.0000123977661,"wires":[["87a3280c.2dc048"]]},{"id":"41540c5a.b29824","type":"ui_ui_control","z":"26bed497.bf205c","name":"Go to Sensor/History Group","x":1008.0000686645508,"y":161.9999942779541,"wires":[["ecada171.b90af8"]]},{"id":"87a3280c.2dc048","type":"ui_toast","z":"26bed497.bf205c","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Authentication Failed","name":"Authentication Failure Dialog","x":1007.9999732971191,"y":219,"wires":[[]]},{"id":"7ca1892b.5394","type":"debug","z":"26bed497.bf205c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":351.5000419616699,"y":240.5347557067871,"wires":[]},{"id":"cd2495fa.3e6108","type":"ui_toast","z":"26bed497.bf205c","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"System In Use.","name":"System In-Use Dialog","x":991.1111793518066,"y":272.1215353012085,"wires":[[]]},{"id":"c586f290.dd82f","type":"function","z":"26bed497.bf205c","name":"= 4 : System In Use","func":"msg.payload = \"System is used by other user.\";\nreturn msg;","outputs":1,"noerr":0,"x":732.4443283081055,"y":273.1215286254883,"wires":[["cd2495fa.3e6108"]]},{"id":"77f6ba6f.780484","type":"ui_ui_control","z":"26bed497.bf205c","name":"Go to Signin Group","x":1004.5002479553223,"y":424.0000419616699,"wires":[[]]},{"id":"3c180063.59494","type":"ui_ui_control","z":"26bed497.bf205c","name":"Stay in Sensor Group","x":1016.5000991821289,"y":386.0000057220459,"wires":[[]]},{"id":"700b2b3d.cec0ac","type":"ui_ui_control","z":"26bed497.bf205c","name":"Go to Signin Group","x":1066.5000324249268,"y":346.99999618530273,"wires":[[]]},{"id":"ae648c.76726378","type":"ui_toast","z":"26bed497.bf205c","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Session Timeout","name":"Time-Out Dialog","x":859.500114440918,"y":311.0000114440918,"wires":[[]]},{"id":"a92cae55.03493","type":"function","z":"26bed497.bf205c","name":"Sign-In Redirection","func":"var msg = {};\n\nmsg.socketid = flow.get(\"clientid\") || undefined;\nif(global.get(\"user\")!=\"admin\"){\n    msg.payload = { group: {\n    show : [\"Dashboard_SensorData\"],\n    hide : [\"Dashboard_Signin\",\"Dashboard_CreateUser\",\"Operations_Configuration\",\"Operations_ADDDevice\",\"Operations_UPDATEDEVICE\",\"Operations_IDGENERATION\"]\n    }\n};\n}else{\nmsg.payload = { group: {\n    show : [\"Operations_IDGENERATION\",\"Dashboard_SensorData\",\"Operations_Configuration\",\"Operations_ADDDevice\",\"Operations_UPDATEDEVICE\",\"Operations_IDGENERATION\"],\n    hide : [\"Dashboard_Signin\"]\n    }\n};\n}\n\nflow.set(\"clientid\", undefined);\nreturn msg;","outputs":1,"noerr":0,"x":870.0000228881836,"y":348.00000762939453,"wires":[["700b2b3d.cec0ac"]]},{"id":"633ef454.b0982c","type":"function","z":"26bed497.bf205c","name":"Time-Out","func":"/* activate session timer */\nvar sessionTimer =  flow.get(\"sessionTimer\") || 0; \nflow.set(\"sessionTimer\", 0);\n\nmsg.socketid = flow.get(\"clientid\") || undefined;\nmsg.payload = \"Session Expired! Please singin again!\";\nreturn msg;","outputs":1,"noerr":0,"x":671.9999847412109,"y":345.0000114440918,"wires":[["ae648c.76726378","a92cae55.03493"]]},{"id":"4303e32a.460e94","type":"function","z":"26bed497.bf205c","name":"Sensor/History Goup","func":"var msg = {};\nmsg.socketid = flow.get(\"clientid\") || undefined;\nif(global.get(\"user\")!=\"admin\"){\n    msg.payload = { group: {\n    show : [\"Dashboard_SensorData\"],\n    hide : [\"Dashboard_Signin\",\"Dashboard_CreateUser\",\"Operations_Configuration\",\"Operations_ADDDevice\",\"Operations_UPDATEDEVICE\",\"Operations_IDGENERATION\"]\n    }\n};\n}else{\nmsg.payload = { group: {\n    show : [\"Operations_IDGENERATION\",\"Dashboard_SensorData\",\"Operations_Configuration\",\"Operations_ADDDevice\",\"Operations_UPDATEDEVICE\",\"Operations_IDGENERATION\"],\n    hide : [\"Dashboard_Signin\"]\n    }\n};\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":713.5000305175781,"y":386.00000381469727,"wires":[["3c180063.59494"]]},{"id":"5580c91d.850da","type":"function","z":"26bed497.bf205c","name":"Signin Goup","func":"var msg = {};\nmsg.payload = { group: {\n    hide : [\"Operations_IDGENERATION\",\"Dashboard_SensorData\",\"Operations_Configuration\",\"Operations_UPDATEDEVICE\",\"Operations_ADDDevice\"],\n    show : [\"Dashboard_Signin\"]\n}\n};\nreturn msg;","outputs":1,"noerr":0,"x":684.5000915527344,"y":427.0000419616699,"wires":[["77f6ba6f.780484"]]},{"id":"e82c1f22.b6465","type":"ui_toast","z":"26bed497.bf205c","position":"bottom right","displayTime":"1","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"Timer","name":"Display Remaining Time","x":679.7222023010254,"y":461.99999237060547,"wires":[]},{"id":"bac1b1ae.fe0e88","type":"switch","z":"26bed497.bf205c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":516.000072479248,"y":372.00000762939453,"wires":[["633ef454.b0982c"],["4303e32a.460e94"],["5580c91d.850da"]]},{"id":"d0f66d1a.deb9a","type":"function","z":"26bed497.bf205c","name":"Calculating Remaining Time (Debug)","func":"var sessionTimer =  flow.get(\"sessionTimer\") || 0; \nvar currTime = Date.now();\nvar remainingSecs = Math.floor((1500000 - (currTime - sessionTimer))/1000) + 1;\n    \nif ( sessionTimer === 0 /* Inactive, No user signed in */ ) {\n    return null;\n} else {\n    \n    if ( remainingSecs <= 7 ) msg.payload = \"Remaining : \" + remainingSecs + \" secs\";  \n    else return null;\n}\n\nmsg.socketid = flow.get(\"clientid\") || \"B1234\";\nreturn msg;","outputs":1,"noerr":0,"x":396.0000305175781,"y":462.00002002716064,"wires":[["e82c1f22.b6465"]]},{"id":"ef31d5ce.d7063","type":"function","z":"26bed497.bf205c","name":"Detect Session Timer","func":"var sessionTimer =  flow.get(\"sessionTimer\") || 0; \nvar currTime = Date.now();\nvar SESSION_TIMEOUT = 300000; //15 secs\n\nif ( sessionTimer === 0 /* Inactive, No user signed in */ ) {\n    msg.payload = 2;\n} else {\n    if ( currTime - sessionTimer > SESSION_TIMEOUT ) {\n      msg.payload = 0;  \n    } else {\n      msg.payload = 1;        \n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":346.00003814697266,"y":374.00000762939453,"wires":[["bac1b1ae.fe0e88"]]},{"id":"8c3a77b.f6cbd08","type":"comment","z":"26bed497.bf205c","name":"Session Management - 15 secs for this demo","info":"","x":249.5,"y":319.00000762939453,"wires":[]},{"id":"8713ffd6.f8e5","type":"inject","z":"26bed497.bf205c","name":"Timer","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":158.00000762939453,"y":407.99999237060547,"wires":[["ef31d5ce.d7063","d0f66d1a.deb9a"]]},{"id":"ecada171.b90af8","type":"function","z":"26bed497.bf205c","name":"","func":"msg.payload=global.get(\"user\");\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":60,"wires":[["869051ce.191988","2824d45e.c9cdb4"]]},{"id":"869051ce.191988","type":"debug","z":"26bed497.bf205c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1260,"y":80,"wires":[]},{"id":"2824d45e.c9cdb4","type":"ui_text","z":"26bed497.bf205c","group":"52194ee0.54b99","order":1,"width":0,"height":0,"name":"","label":"USER","format":"{{msg.payload}}","layout":"row-spread","x":1270,"y":20,"wires":[]},{"id":"6dc3aac4.12173c","type":"ui_form","z":"26bed497.bf205c","name":"ADD HOTEL ","label":"","group":"883b1fde.c45708","order":3,"width":0,"height":0,"options":[{"label":"hotel name ","value":"hotel name","type":"text","required":true,"rows":null},{"label":"building name ","value":"hotel building","type":"text","required":true,"rows":null},{"label":"room number","value":"room number","type":"text","required":true,"rows":null},{"label":"id","value":"id","type":"text","required":true,"rows":null}],"formValue":{"hotel name":"","hotel building":"","room number":"","id":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":470,"y":580,"wires":[["d7af7281.7900f8"]]},{"id":"fe0d791f.38f6e","type":"ui_form","z":"26bed497.bf205c","name":"UPDATE HOTEL ID","label":"","group":"35bacacf.cdd196","order":1,"width":0,"height":0,"options":[{"label":"CURRENT ID ","value":"Old_id","type":"text","required":true,"rows":null},{"label":"NEW ID ","value":"New_id","type":"text","required":true,"rows":null}],"formValue":{"Old_id":"","New_id":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":390,"y":760,"wires":[["1863624.31f2f9e"]]},{"id":"c66c88c5.3433e","type":"http request","z":"26bed497.bf205c","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://127.0.0.1:5000/api/DBOPERATION/Hotel","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":920,"wires":[["d98f210.9f0eb6"]]},{"id":"bb262e39.290828","type":"ui_button","z":"26bed497.bf205c","name":"","group":"52194ee0.54b99","order":3,"width":0,"height":0,"passthru":true,"label":"GET","tooltip":"","color":"","bgcolor":"WHITE","icon":"","payload":"","payloadType":"date","topic":"","x":190,"y":920,"wires":[["c66c88c5.3433e"]]},{"id":"431e3ac3.a1ff24","type":"ui_dropdown","z":"26bed497.bf205c","name":"","label":"","tooltip":"","place":"Select option","group":"52194ee0.54b99","order":5,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":640,"y":1020,"wires":[["13e18e53.1fdb4a"]]},{"id":"d98f210.9f0eb6","type":"function","z":"26bed497.bf205c","name":"","func":"msg.payload = JSON.parse(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":920,"wires":[["367a7343.26920c"]]},{"id":"367a7343.26920c","type":"change","z":"26bed497.bf205c","name":"","rules":[{"t":"set","p":"options","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":920,"wires":[["431e3ac3.a1ff24"]]},{"id":"d7af7281.7900f8","type":"http request","z":"26bed497.bf205c","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://127.0.0.1:5000/api/DBOPERATION/Hotel","tls":"","persist":false,"proxy":"","authType":"","x":690,"y":560,"wires":[["9e086d77.67a75"]]},{"id":"1863624.31f2f9e","type":"http request","z":"26bed497.bf205c","name":"","method":"PUT","ret":"txt","paytoqs":false,"url":"http://127.0.0.1:5000/api/DBOPERATION/Hotel","tls":"","persist":false,"proxy":"","authType":"","x":610,"y":760,"wires":[["a4b2b636.60bc08"]]},{"id":"a4b2b636.60bc08","type":"function","z":"26bed497.bf205c","name":"","func":"msg.payload={\"Old_id\":\"\", \"New_id\":\"\"};\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":840,"wires":[["fe0d791f.38f6e"]]},{"id":"9e086d77.67a75","type":"function","z":"26bed497.bf205c","name":"","func":"msg.payload={\"hotel name\": \"\",\n\"hotel building\": \"\",\n\"room number\": \"\",\n\"id\": \"\"};\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":700,"wires":[["6dc3aac4.12173c"]]},{"id":"e9b3e1d3.903d68","type":"function","z":"26bed497.bf205c","name":"","func":"\nvar objectdata={};\nvar data = [[0],[msg.payload.length]];\nfor (var i = 0; i <msg.payload.length; i++) {\n       var tmp= 1000*(new Date(msg.payload[i].timestamp));\n   objectdata = {\"x\" :tmp,\"y\": msg.payload[i].temp};\n   data[0][i] = objectdata;\n}\n\nmsg.payload = [{\n    \"series\":[\"Temperature\"],\n    \"data\":data,\n    \"labels\":[]\n}];\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1170,"y":1080,"wires":[["f31301bc.2d3eb","145738d9.5c610f"]]},{"id":"2d8c5d20.1c9662","type":"function","z":"26bed497.bf205c","name":"","func":"var objectdata={};\nvar data = [[0],[msg.payload.length]];\nfor (var i = 0; i <msg.payload.length; i++) {\n   var tmp= 1000*(new Date(msg.payload[i].timestamp));\n   objectdata = {\"x\" : tmp   ,\"y\": msg.payload[i].debit};\n   data[0][i] = objectdata;\n}\nmsg.payload = [{\n    \"series\":[\"Debit\"],\n    \"data\":data,\n    \"labels\":[]\n}];\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1170,"y":1000,"wires":[["501dbaa9.57c974","dcb95723.fdda"]]},{"id":"501dbaa9.57c974","type":"ui_chart","z":"26bed497.bf205c","name":"","group":"52194ee0.54b99","order":7,"width":0,"height":0,"label":"Debit ","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1470,"y":1000,"wires":[[]]},{"id":"f31301bc.2d3eb","type":"ui_chart","z":"26bed497.bf205c","name":"","group":"52194ee0.54b99","order":8,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"true","xformat":"auto","interpolate":"step","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":1490,"y":1080,"wires":[[]]},{"id":"d136ee04.df375","type":"http request","z":"26bed497.bf205c","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://127.0.0.1:5000/api/DBOPERATION/Data","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":1220,"wires":[["28003091.6d6258"]]},{"id":"13e18e53.1fdb4a","type":"function","z":"26bed497.bf205c","name":"","func":"msg.payload=msg.payload.split(\" \");\nmsg.payload={\"hotel name\": msg.payload[0],\n\"hotel building\": msg.payload[1],\n\"room number\": msg.payload[2]};\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":1060,"wires":[["d136ee04.df375"]]},{"id":"dcb95723.fdda","type":"debug","z":"26bed497.bf205c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1270,"y":880,"wires":[]},{"id":"145738d9.5c610f","type":"debug","z":"26bed497.bf205c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1330,"y":1240,"wires":[]},{"id":"1a312828.5540a8","type":"debug","z":"26bed497.bf205c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1030,"y":1300,"wires":[]},{"id":"28003091.6d6258","type":"json","z":"26bed497.bf205c","name":"","property":"payload","action":"","pretty":true,"x":770,"y":1280,"wires":[["1a312828.5540a8","2d8c5d20.1c9662","e9b3e1d3.903d68"]]},{"id":"b43cef87.3c1dd","type":"uuid","z":"26bed497.bf205c","uuidVersion":"v4","namespaceType":"","namespace":"","namespaceCustom":"","name":"","field":"payload","fieldType":"msg","x":470,"y":520,"wires":[["52e46874.18923"]]},{"id":"1c712bdb.6a9fb4","type":"ui_button","z":"26bed497.bf205c","name":"","group":"883b1fde.c45708","order":1,"width":0,"height":0,"passthru":false,"label":"GENERATE ID","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":300,"y":520,"wires":[["b43cef87.3c1dd"]]},{"id":"52e46874.18923","type":"ui_text","z":"26bed497.bf205c","group":"883b1fde.c45708","order":2,"width":0,"height":0,"name":"","label":"ID: ","format":"{{msg.payload}}","layout":"row-spread","x":700,"y":520,"wires":[]},{"id":"11499b0a.880dbd","type":"inject","z":"26bed497.bf205c","name":"","topic":"","payload":"","payloadType":"date","repeat":"20","crontab":"","once":true,"onceDelay":0.1,"x":470,"y":1080,"wires":[["431e3ac3.a1ff24"]]},{"id":"7c99ea2e.1c281c","type":"ui_form","z":"26bed497.bf205c","name":"ADD CONFIG","label":"","group":"5f95a22f.0c8aec","order":1,"width":0,"height":0,"options":[{"label":"broker address","value":"broker","type":"text","required":true,"rows":null},{"label":"broker port","value":"port","type":"text","required":true,"rows":null},{"label":"username","value":"usrname","type":"text","required":true,"rows":null},{"label":"password","value":"pwd","type":"password","required":true,"rows":null},{"label":"Database IP","value":"db","type":"password","required":true,"rows":null},{"label":"Database Port","value":"port","type":"text","required":true,"rows":null}],"formValue":{"broker":"","port":"","usrname":"","pwd":"","db":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":300,"y":1640,"wires":[["268d112c.4a7efe"]]},{"id":"268d112c.4a7efe","type":"http request","z":"26bed497.bf205c","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://127.0.0.1:5000/api/DBOPERATION/config","tls":"","persist":false,"proxy":"","authType":"","x":510,"y":1620,"wires":[["c3015d74.d467a8"]]},{"id":"c3015d74.d467a8","type":"function","z":"26bed497.bf205c","name":"","func":"msg.payload={\"hotel name\": \"\",\n\"hotel building\": \"\",\n\"room number\": \"\",\n\"id\": \"\"};\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":1760,"wires":[["7c99ea2e.1c281c"]]},{"id":"4d190e77.33cbc8","type":"ui_group","z":"","name":"Signin","tab":"87357bd1.e72fb","order":2,"disp":true,"width":"17","collapse":false},{"id":"52194ee0.54b99","type":"ui_group","z":"","name":"SensorData","tab":"87357bd1.e72fb","order":1,"disp":false,"width":18,"collapse":false},{"id":"883b1fde.c45708","type":"ui_group","z":"","name":"ADDDevice","tab":"1ef981d3.b2cdde","order":1,"disp":true,"width":"8","collapse":true},{"id":"35bacacf.cdd196","type":"ui_group","z":"","name":"UPDATEDEVICE","tab":"1ef981d3.b2cdde","order":2,"disp":true,"width":7,"collapse":true},{"id":"5f95a22f.0c8aec","type":"ui_group","z":"","name":"Configuration","tab":"1ef981d3.b2cdde","order":4,"disp":true,"width":8,"collapse":false},{"id":"87357bd1.e72fb","type":"ui_tab","z":"","name":"Dashboard","icon":"dashboard","order":1},{"id":"1ef981d3.b2cdde","type":"ui_tab","z":"","name":"Operations","icon":"dashboard","order":2,"disabled":false,"hidden":false}]