old/IlyaDashboardsWithMongoDB.json
[{"id":"3ea65078.422ba","type":"tab","label":"IlyaStoreInMongDB","disabled":false,"info":""},{"id":"308a4b8f.bba054","type":"mqtt in","z":"3ea65078.422ba","name":"mickaelcommerot1@gmail.com/ilya","topic":"mickaelcommerot1@gmail.com/ilya","qos":"2","datatype":"auto","broker":"5991072f.f89128","x":200,"y":380,"wires":[["8257035b.560e2","95d2f318.63a27"]]},{"id":"8257035b.560e2","type":"mongodb out","z":"3ea65078.422ba","mongodb":"da4041f5.be0f7","name":"Store in MongoDB","collection":"sensors","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":630,"y":320,"wires":[]},{"id":"b5228f81.5fa85","type":"debug","z":"3ea65078.422ba","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":400,"wires":[]},{"id":"d0f3ed9a.fde3f","type":"mongodb in","z":"3ea65078.422ba","mongodb":"da4041f5.be0f7","name":"find in MongoDB","collection":"sensors","operation":"find","x":450,"y":540,"wires":[["b2c03f7f.40e7c","4f0feb5f.c228b4"]]},{"id":"b2c03f7f.40e7c","type":"debug","z":"3ea65078.422ba","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":540,"wires":[]},{"id":"2a762214.d6c03e","type":"inject","z":"3ea65078.422ba","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":"1","x":150,"y":540,"wires":[["d0f3ed9a.fde3f"]]},{"id":"4f0feb5f.c228b4","type":"json","z":"3ea65078.422ba","name":"JsonParseObject","property":"payload","action":"obj","pretty":false,"x":130,"y":740,"wires":[["af288ff5.57b21"]]},{"id":"aaaa1a64.447ec8","type":"ui_gauge","z":"3ea65078.422ba","name":"Temperature_Gauge","group":"e34e7c41.c875e","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperature ","label":"°C","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1000,"y":1160,"wires":[]},{"id":"2bb86c03.faf094","type":"ui_gauge","z":"3ea65078.422ba","name":"Debit_Gauge","group":"e34e7c41.c875e","order":2,"width":0,"height":0,"gtype":"gage","title":"Debit","label":"m/cube","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":970,"y":1020,"wires":[]},{"id":"c862a53e.df8498","type":"comment","z":"3ea65078.422ba","name":"Print value from MongoDB on dashbaords","info":"","x":180,"y":640,"wires":[]},{"id":"b4a91250.39f83","type":"comment","z":"3ea65078.422ba","name":"Retreive from database","info":"","x":160,"y":460,"wires":[]},{"id":"8825b106.ef88","type":"comment","z":"3ea65078.422ba","name":"From Mqtt broker to MongoDB","info":"","x":180,"y":320,"wires":[]},{"id":"634bbde2.521a04","type":"debug","z":"3ea65078.422ba","name":"Debug Account Log ","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":330,"y":80,"wires":[]},{"id":"77d3881c.6a0ca8","type":"comment","z":"3ea65078.422ba","name":"Sign-In Section","info":"","x":120,"y":40,"wires":[]},{"id":"4a1226bd.ca1ff8","type":"function","z":"3ea65078.422ba","name":"Account Log","func":"var accountlog =  flow.get(\"accountlog\") || [] ; \n\naccountlog.push({ accessAt : new Date(), username : msg.payload.username})\n\nflow.set(\"accountlog\", accountlog);\n\nmsg.payload = accountlog;\nreturn msg;","outputs":1,"noerr":0,"x":120.99991607666016,"y":108.9999885559082,"wires":[["634bbde2.521a04"]]},{"id":"6ee488a6.db8d58","type":"function","z":"3ea65078.422ba","name":"Account Verification","func":"var accounts =  flow.get(\"accounts\") || [ { username : \"admin\", password : \"admin\"},{ username : \"guest\", password : \"guest\"}] ; \n\nvar username = msg.payload.username ;\nvar password = msg.payload.password ; \n\nmsg.payload = 1;\n\naccounts.forEach(function ( account ){\n    if ( account.username == username ) {\n       msg.payload = 2;\n       if ( account.password == password ) {\n           msg.payload = 0;\n       } \n    }\n});\n\nif ( msg.payload == 0 ) {\n  var currentsocketid = flow.get(\"clientid\") || undefined;\n  if ( currentsocketid !== undefined && currentsocketid !== msg.socketid ) msg.payload = 3;\n}\n// keep the original socketid from msg.socketid;\nreturn msg;","outputs":1,"noerr":0,"x":133.9999542236328,"y":153.99999809265137,"wires":[["16415266.599ade"]]},{"id":"16415266.599ade","type":"switch","z":"3ea65078.422ba","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":302.99995040893555,"y":184.99998092651367,"wires":[["ea1cff25.88166"],["fdad2e03.e44d7"],["c6ea6ba2.f07858"],["a557c3f2.16cf1"]]},{"id":"ea1cff25.88166","type":"function","z":"3ea65078.422ba","name":"= 0 : Success","func":"/* activate session timer */\nvar sessionTimer =  flow.get(\"sessionTimer\") || 0; \nvar currTime = Date.now();\nflow.set(\"sessionTimer\", currTime);\nflow.set(\"clientid\", msg.socketid);\n/* ui-control payload */\nmsg.payload = { group: {\n    show : [\"Dashboard_SensorData\", \"Another_History\"],\n    hide : [\"Dashboard_Signin\"]\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":472.99979400634766,"y":140.99999046325684,"wires":[["ead755a3.3543c8"]]},{"id":"fdad2e03.e44d7","type":"function","z":"3ea65078.422ba","name":"= 1 : Unknown User","func":"msg.payload = \"Username Doesn't exist!!!\"\nreturn msg;","outputs":1,"noerr":0,"x":493.9998016357422,"y":177.99999237060547,"wires":[["abe2f710.13db58"]]},{"id":"c6ea6ba2.f07858","type":"function","z":"3ea65078.422ba","name":"= 2 : Wrong Password","func":"msg.payload = \"Invalid Password\";\nreturn msg;","outputs":1,"noerr":0,"x":494.99987030029297,"y":215.00000476837158,"wires":[["abe2f710.13db58"]]},{"id":"ead755a3.3543c8","type":"ui_ui_control","z":"3ea65078.422ba","name":"Go to Sensor Group","x":739.9999771118164,"y":140.99998664855957,"wires":[[]]},{"id":"abe2f710.13db58","type":"ui_toast","z":"3ea65078.422ba","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Authentication Failed","name":"Authentication Failure Dialog","x":759.9998817443848,"y":197.99999237060547,"wires":[[]]},{"id":"f66b096e.c6abd8","type":"ui_toast","z":"3ea65078.422ba","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"System In Use.","name":"System In-Use Dialog","x":743.1110877990723,"y":251.12152767181396,"wires":[[]]},{"id":"a557c3f2.16cf1","type":"function","z":"3ea65078.422ba","name":"= 4 : System In Use","func":"msg.payload = \"System is used by other user.\";\nreturn msg;","outputs":1,"noerr":0,"x":484.4442367553711,"y":252.12152099609375,"wires":[["f66b096e.c6abd8"]]},{"id":"95d2f318.63a27","type":"json","z":"3ea65078.422ba","name":"JsonParseObject","property":"payload","action":"obj","pretty":false,"x":470,"y":400,"wires":[["b5228f81.5fa85"]]},{"id":"af288ff5.57b21","type":"function","z":"3ea65078.422ba","name":"getFiveLastObjects","func":"msg.payload.limit = 5;\nmsg.payload.skip = 0;\nmsg.payload.sort = {\"date\":-1}\nreturn msg.payload;","outputs":1,"noerr":0,"x":370,"y":740,"wires":[["9ebf7cf8.e5d75"]]},{"id":"9ebf7cf8.e5d75","type":"json","z":"3ea65078.422ba","name":"JsonParseObject","property":"payload","action":"obj","pretty":false,"x":590,"y":740,"wires":[["a4781331.068c3","18659ccb.32d9f3"]]},{"id":"a4781331.068c3","type":"change","z":"3ea65078.422ba","name":"","rules":[{"t":"move","p":"payload.temp","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":1200,"wires":[["aaaa1a64.447ec8","dc9f6845.cd2838","86ab945e.07f298"]]},{"id":"18659ccb.32d9f3","type":"change","z":"3ea65078.422ba","name":"","rules":[{"t":"move","p":"payload.debit","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":1020,"wires":[["2bb86c03.faf094","b4444e1e.a090d","c71f819b.ac1f1"]]},{"id":"b4444e1e.a090d","type":"debug","z":"3ea65078.422ba","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":980,"y":1060,"wires":[]},{"id":"dc9f6845.cd2838","type":"debug","z":"3ea65078.422ba","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":980,"y":1240,"wires":[]},{"id":"c71f819b.ac1f1","type":"ui_chart","z":"3ea65078.422ba","name":"","group":"e34e7c41.c875e","order":9,"width":0,"height":0,"label":"Debit/Flow Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":990,"y":980,"wires":[[]]},{"id":"86ab945e.07f298","type":"ui_chart","z":"3ea65078.422ba","name":"","group":"e34e7c41.c875e","order":9,"width":0,"height":0,"label":"Temperature Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":990,"y":1200,"wires":[[]]},{"id":"5991072f.f89128","type":"mqtt-broker","z":"","name":"","broker":"maqiatto.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"mickaelcommerot1@gmail.com/ilya","birthQos":"2","birthPayload":"Node-red dashboard subscribed","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"da4041f5.be0f7","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"ilyaDB","name":""},{"id":"e34e7c41.c875e","type":"ui_group","z":"","name":"SensorData","tab":"23b90f20.a5a01","order":2,"disp":true,"width":"6","collapse":false},{"id":"23b90f20.a5a01","type":"ui_tab","z":"","name":"ILYA_Dashboards","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
